@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .auth {
    @apply md:max-w-[30rem]  relative top-7 flex w-auto min-w-[25rem] flex-col rounded-xl bg-white p-8 shadow-xl font-mono;
  }
  .auth-input {
    @apply border text-black rounded-md mt-2 px-3 py-2 w-full min-w-[15rem] mb-4 border-gray-200;
  }
  .auth-button {
    @apply bg-blue-500 text-white rounded-md px-3 py-2 w-full mb-4 hover:bg-blue-800 cursor-pointer;
  }
  .auth-credentials {
    @apply text-left mb-7 text-gray-500 text-sm;
  }
  .auth-error {
    @apply text-left text-sm text-gray-700 mb-2;
  }
  .auth-container {
    @apply relative top-5 flex w-auto flex-col rounded-sm bg-inherit p-12 shadow-2xl border border-gray-200;
  }
  .auth-content {
    @apply relative z-10 text-white;
  }
}
